.sb-container {
    padding: 10px;
    color: white;
}

.sb-content {
    border: 0.7px solid navy;
    border-bottom: 2px solid black;
    background:lightblue;
    padding: 15px;
    height: 40px;
    width: 250px;
    font-size: 1em;
}